In [1]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt
import plotly.graph_objects as go

# why we use pca
pca reduce the dimentionality of the data
we cant redice the dimentions without any intuation

In [2]:
merg = pd.read_excel('merged_all.xlsx')

In [6]:
merg.head(10)

,Unnamed: 0,AccountSeq,CampaignSeq,CloseDate,ProductSeq,Purchase Process,Rating,Sales Stage,Status,SystemUserSeq,...,Manager,Owner,systemuserid,Industry,Country_y,Region,State Or Province,Territory,Campaign,Campaign Type
0,0,1000,NaN,2019-09-03,8,Committee,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
1,1,1000,NaN,2019-10-26,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
2,2,1000,NaN,2019-11-20,8,Individual,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
3,3,1000,NaN,2019-11-21,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
4,4,1000,NaN,2019-12-19,8,Committee,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
5,5,1000,NaN,2019-12-19,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
6,6,1000,NaN,2019-12-22,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
7,7,1000,NaN,2020-01-21,8,Individual,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
8,8,1000,NaN,2020-04-04,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN
9,9,1000,NaN,2020-05-01,8,Unknown,Cold,1-Qualify,Lost,11,...,Ethan Brooks,Julian Isla,22dde512-f81e-eb11-a814-000d3a9c7ff2,Major Banks,United States,North America,NC,US-SOUTH,NaN,NaN

In [4]:
merg.describe()

,Unnamed: 0,AccountSeq,CampaignSeq,ProductSeq,SystemUserSeq,Value,Discount,OpportunitySeq,Probability,Probability (raw),AccountOwnerSeq,IndustrySeq,TerritorySeq
count,19990.000000,19990.000000,13263.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000,19990.000000
mean,9994.500000,1084.725063,7005.266682,5.859080,10.132866,3864.543072,0.107901,20009.504752,0.309505,0.499017,10.132866,19.299550,13.908504
std,5770.760276,75.287413,4.135192,2.279245,5.919850,1796.540440,0.030629,5781.349152,0.248362,0.288695,5.919850,12.562054,12.288818
min,0.000000,1000.000000,7000.000000,1.000000,1.000000,3.000000,0.000000,10000.000000,0.100000,0.000000,1.000000,0.000000,1.000000
25%,4997.250000,1015.000000,7000.000000,4.000000,5.000000,2572.250000,0.090000,15007.250000,0.100000,0.249000,5.000000,8.000000,4.000000
50%,9994.500000,1060.000000,7006.000000,6.000000,10.000000,3956.000000,0.110000,20008.500000,0.300000,0.499000,10.000000,19.000000,10.000000
75%,14991.750000,1148.000000,7009.000000,8.000000,14.000000,5193.750000,0.130000,25009.750000,0.500000,0.749000,14.000000,31.000000,18.000000
max,19989.000000,1299.000000,7011.000000,9.000000,20.000000,14999.000000,0.180000,44681.000000,0.900000,1.000000,20.000000,44.000000,51.000000

In [5]:
merg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19990 entries, 0 to 19989
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 19990 non-null  int64
 1   AccountSeq                 19990 non-null  int64
 2   CampaignSeq                13263 non-null  float64
 3   CloseDate                  19990 non-null  datetime64[ns]
 4   ProductSeq                 19990 non-null  int64
 5   Purchase Process           19990 non-null  object
 6   Rating                     19990 non-null  object
 7   Sales Stage                19990 non-null  object
 8   Status                     19990 non-null  object
 9   SystemUserSeq              19990 non-null  int64
 10  Value                      19990 non-null  int64
 11  Decision Maker Identified  19990 non-null  bool
 12  Opportunity Created On     19990 non-null  datetime64[ns]
 13  Discount                   19990 non-null  float64
 14  OpportunitySeq             19990 non-null  int64
 15  Probability                19990 non-null  float64
 16  Probability (raw)          19990 non-null  float64
 17  Product                    19990 non-null  object
 18  Product Category           19990 non-null  object
 19  Account Name               19990 non-null  object
 20  Account Number             19990 non-null  object
 21  AccountID                  19990 non-null  object
 22  AccountOwnerSeq            19990 non-null  int64
 23  Country_x                  19990 non-null  object
 24  IndustrySeq                19990 non-null  int64
 25  State or Province          19990 non-null  object
 26  TerritorySeq               19990 non-null  int64
 27  Manager                    19990 non-null  object
 28  Owner                      19990 non-null  object
 29  systemuserid               19990 non-null  object
 30  Industry                   18101 non-null  object
 31  Country_y                  19990 non-null  object
 32  Region                     19990 non-null  object
 33  State Or Province          19990 non-null  object
 34  Territory                  19990 non-null  object
 35  Campaign                   13263 non-null  object
 36  Campaign Type              13263 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(4), int64(9), object(21)
memory usage: 5.5+ MB