In [2]:
import pandas as pd

Pandas has two basic data types

Series are one dimensional column of data

DataFrame is two domensional data with rows and column

In [6]:
# Lets take an example of cars
cars = pd.Series(["Bwm","Honda","Suzuki"])
colours = pd.Series(["Red","blue","Green"])
cars+colours

0         BwmRed
1      Hondablue
2    SuzukiGreen
dtype: object

In [10]:
car_data = pd.DataFrame({"Car Model": cars,
                         "car Colour": colours})

In [11]:
car_data

  Car Model car Colour
0       Bwm        Red
1     Honda       blue
2    Suzuki      Green

In [15]:
import pandas as pd

food = pd.Series (["eggs","Apple","Banana"])
price = pd.Series([25,120,5])

Grousery = pd.DataFrame({"Food name": food,
                        "Food price": price})

Grousery

  Food name  Food price
0      eggs          25
1     Apple         120
2    Banana           5