In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_excel("Sample_of_Dataset.xlsx")

In [6]:
data

,StoreName,StoreCode,Date,DefaultTraffic,TrafficIN,TrafficOUT,Units,Sale,Transactions,Conversion,IPT,ATV,ASP,RPV,RPUA,RPSH,TPSH,VPSH,ActiveTime
0,new store 1,s003333356,2022-09-30 05:00:12,0,0,0,0,0.00,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,No
1,hpout,S011,2022-01-01 05:00:12,864,793,864,96,255670.40,67,0.077546,1.432835,3815.976119,2663.233333,295.914814,81.814528,0,0,0,Yes
2,hpout,S011,2022-01-02 05:00:12,819,782,819,116,344789.88,82,0.100122,1.414634,4204.754634,2972.326551,420.988864,110.332761,0,0,0,Yes
3,hpout,S011,2022-01-03 05:00:12,644,618,644,57,169975.91,47,0.072981,1.212765,3616.508723,2982.033508,263.937748,54.392291,0,0,0,Yes
4,hpout,S011,2022-01-04 05:00:12,634,603,634,74,195384.79,55,0.086751,1.345454,3552.450727,2640.335000,308.177902,62.523132,0,0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,LBlock,s013,2022-03-06 05:00:12,263,260,263,52,167885.87,31,0.117871,1.677419,5415.673225,3228.574423,638.349315,46.817030,0,0,0,Yes
66,LBlock,s013,2022-03-07 05:00:12,280,276,280,36,138337.23,31,0.110714,1.161290,4462.491290,3842.700833,494.061535,38.577030,0,0,0,Yes
67,LBlock,s013,2022-03-08 05:00:12,254,233,254,26,120406.48,23,0.090551,1.130434,5235.064347,4631.018461,474.041259,33.576820,0,0,0,Yes
68,LBlock,s013,2022-03-09 05:00:12,288,274,288,23,132620.86,19,0.065972,1.210526,6980.045263,5766.124347,460.489097,36.982950,0,0,0,Yes
69,LBlock,s013,2022-03-10 05:00:12,319,347,319,47,192443.80,41,0.128527,1.146341,4693.751219,4094.548936,603.272100,53.665309,0,0,0,Yes

In [9]:
data.describe()

,DefaultTraffic,TrafficIN,TrafficOUT,Units,Sale,Transactions,Conversion,IPT,ATV,ASP,RPV,RPUA,RPSH,TPSH,VPSH
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.0,70.0,70.0
mean,611.528571,584.042857,611.528571,79.485714,231231.189429,57.485714,0.094872,1.342034,4278.695139,3196.363582,416.586478,71.906863,0.0,0.0,0.0
std,249.944152,231.937613,249.944152,35.783059,74200.250615,23.546281,0.020444,0.236811,1273.156264,1077.700470,160.715119,25.064497,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,320.750000,320.750000,320.750000,49.250000,170485.255000,35.500000,0.086802,1.234398,3454.651593,2627.188271,307.556394,52.495173,0.0,0.0,0.0
50%,696.500000,671.500000,696.500000,83.500000,228331.105000,63.500000,0.099039,1.343613,3859.055235,2783.648335,372.644861,72.997217,0.0,0.0,0.0
75%,805.250000,769.500000,805.250000,108.500000,289530.252500,75.000000,0.104988,1.454090,4804.987044,3832.822641,471.780010,92.286541,0.0,0.0,0.0
max,1037.000000,904.000000,1037.000000,144.000000,382470.410000,101.000000,0.136054,1.846153,7286.270000,6138.091428,855.941409,122.390531,0.0,0.0,0.0