In [2]:
import pandas as pd

Pandas has two basic data types

Series are one dimensional column of data

DataFrame is two domensional data with rows and column

In [6]:
# Lets take an example of cars
cars = pd.Series(["Bwm","Honda","Suzuki"])
colours = pd.Series(["Red","blue","Green"])
cars+colours

0         BwmRed
1      Hondablue
2    SuzukiGreen
dtype: object

In [10]:
car_data = pd.DataFrame({"Car Model": cars,
                         "car Colour": colours})

In [11]:
car_data

  Car Model car Colour
0       Bwm        Red
1     Honda       blue
2    Suzuki      Green

In [1]:
import pandas as pd

food = pd.Series (["eggs","Apple","Banana"])
price = pd.Series([25,120,5])

Grousery = pd.DataFrame({"Food name": food,
                        "Food price": price})

Grousery

  Food name  Food price
0      eggs          25
1     Apple         120
2    Banana           5

In [3]:
car_details = pd.read_csv("CarSales.csv")

In [4]:
car_details

   Make  Colour Odometer (KM)   Doors  Price   Unnamed: 5
0   NaN  Toyota         White  150043      4   $4,000.00
1   NaN   Honda           Red   87899      4   $5,000.00
2   NaN  Toyota          Blue   32549      3   $7,000.00
3   NaN     BMW         Black   11179      5  $22,000.00
4   NaN  Nissan         White  213095      4   $3,500.00
5   NaN  Toyota         Green   99213      4   $4,500.00
6   NaN   Honda          Blue   45698      4   $7,500.00
7   NaN   Honda          Blue   54738      4   $7,000.00
8   NaN  Toyota         White   60000      4   $6,250.00
9   NaN  Nissan         White   31600      4   $9,700.00